*{
    box-sizing: border-box;
}
body{
    background-image: url( images/patt.png);
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
header {
    height: 100px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row:after,.menu:after {
    clear:both;
    content:"";
    display: block;
}
[class*="col-"] {
    float:left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-3 {
    width: 25%;
}
.col-md-4 {
    width: 33.3%;
}
.col-md-6 {
    width: 50%;
}
.col-md-8 {
 width: 66.8%;
}
.col-md-9 {
    width: 75%;
}
.col-md-12 {
    width: 100%;
}
.header {
    background-color: rgba( 255, 255, 255, 0.75);
    padding: 25px 0;
}
.logo {
    margin-top: 7px;
}
.li-1 {
    position: relative;
    width: 25%;
    float:left;
}

.li-1:last-child {
    border-right: 1px solid #2c71b8;
}
.a-1 {
    display:block;
    height: 50px;
    text-decoration: none;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;
    font-size: 21px;
    border-left: 1px solid #2c71b8;
}
.a-1:hover {
    background-color: #2c71b8;
    color: white;
}
.li-1:hover a {
    background-color: #2c71b8;
    color: white;
}
.search {
    border: 1px solid #2c71b8;
    width: 200px;
    margin-top: 5px;
    margin-right: 0;
    height: 40px;
}
.search form {
    height: 100%;
    position: relative;
}
.search input {
    height: 100%;
    font-size: 21px;
    background-color: rgba( 255, 255, 255, 0);
    border:none;
    width: 165px;
}
.search input::-webkit-input-placeholder {
        color: #2c71b8;
       padding-left: 20px;
}
.search input::-moz-placeholder {
        color: #2c71b8;
        margin-left: 20px;
}
input,
input:active,
input:focus {
    outline: none;
}
.search a {
    margin: 4px;
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #2c71b8;   
}
.background-search {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 14px;
    height: 12px;
    background-image: url("images/icon\ \(4\).png");
}
.search-basket {
    position: relative;
}
.search-basket:after {
    content: "";
    display: block;
    clear: both;
}
.search, .basket {
    float: left;
}
.basket {
    margin: 5px 0 5px 30px;
}
.basket {
    position: relative;
    height: 40px;
    width: 40px;
    background-color: #fff;
}
.background-basket  {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url("images/icon\ \(1\).png");
    width: 18px;
    height: 21px;
}
.number4 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1px;
    right: 44px;
    background-color: #2c71b8;
    color:white;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
}
.menu2 {
    position: absolute;
    background-color: #2c71b8;
    width: 285px;
    height: 315px;
    display: none;
    z-index:1;
}
.hover-li {
    position: relative;
}
.first-child {
    height: 25px;
    background-color: #2c71b8;
}
.menu2 a {
    display:block;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 21px;
}
.menu2 a:hover {
    color:#2c71b8;
    background-color: #fff;
}
.hover-li:hover .menu2 {
  display: block;
}
.slide {
    height: 400px;
    background-color: rgba(35, 85, 150, 0.40);
}
.categoria {
    font-weight: bold;
    font-size: 48px;
    color: white;
    padding: 50px;
}
.device-type {
    height: 840px;
    background-color:#5f93c9;
}
.block {
    margin-bottom: 30px;
    border: 1px solid #ffffff;
}
.images {
    position: relative;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.75);
}
.device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.option {
    width: 30px;
    height: 30px;
    padding: 4px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid #2c71b8;
    background-image: url('images/icon\ \(8\).png');
    background-repeat: no-repeat;
    background-position: center;
}
.option:hover {
    background-image: url("images/icon\ \(6\).png");
    background-color: #2c71b8;
}
.like {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid #2c71b8;
    position: absolute;
    top: 50px;
    right: 10px; 
    background-color: rgba( 255, 255, 255, 0);
    background-image: url('images/icon\ \(5\).png');
     background-repeat: no-repeat;
    background-position: center;
}
.like:hover {
    background-image: url("images/icon\ \(7\).png");
    background-color: #2c71b8;
}
.text {
    padding: 12px 15px;
    color: #ffffff;
    background-color: rgba(44, 113, 184, 0.75);
}
.text h3 {
    font-size: 30px;
}

.text p {
    margin-top: 20px;
    font-size: 21px;
}
.text span {
    font-weight: bold;
}
.price {
    margin-bottom: 10px;
    text-align: center;
}
.price span {
    font-size: 48px;
}
.price sup {
    vertical-align: super;
    font-size: 24px;
}
.text button {
    width: 210px;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 21px;
    margin: 7.5px;
    margin: 15px;
}
.button {
    background-color: #2c71b8;
    border: 1px solid #ffffff;
    margin-bottom: 0;

}
.button:hover {
    background-color: rgba(255,255,255,0.2);
    border: none;
}
.background-image3 {
    display: inline-block;
    width: 15px;
    height: 17px;
    background-image: url("images/icon\ \(2\).png");
    margin-left: 11px;
}
.main-text p, a {
    color:#6195ca;
    font-size: 14px;
}
.main-text a {
    text-decoration: none;
}
.main-text span {
   text-decoration: underline;
}
.main-text h1 {
    font-weight: bold;
    font-size: 48px;
    color: white;
    margin-top: 30px;
}
.footer {
    height: 100px;
    background-color: rgba( 255, 255, 255, 0.75);
}
.footer-text {
    text-align: center;
    line-height: 100px;
    color: #2c71b8;
    font-size: 21px;
}
 
